{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Codify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>

<header>
    <h2>Codify</h2>
    <nav>
     {% if user.is_authenticated %}
        <span class="username"> {{ user.username }} </span>
     {% endif %}
        <a href="/dashboard/">Dashboard</a>
        <a href="/login/">Logout</a>
    </nav>
</header>

<main class="container">
    <h1>Welcome to Codify 🚀</h1>
    <p>
        Learn to code, build real-world projects, and level up your skills with a
        modern, beginner-friendly platform.
    </p>

    <div class="buttons">
        <a href="/dashboard/">Get Started</a>
        
    </div>
</main>

<footer>
    <p>© 2026 Codify. All rights reserved.</p>
</footer>

</body>
</html>