{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Codify | Login</title>
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>

<!-- Top Left Logo -->
<a href="#" class="logo">&lt;/&gt; Codify</a>

<!-- Main Container -->
<div class="container">

  <!-- Left Side -->
  <div class="left">
    <h1>
      Where logic Meets intelligence 
    </h1>
    <p>An AI-powered code reviews for modern developers.</p>
  </div>

  <!-- Right Side -->
  <div class="right">
    <h2>Welcome Back</h2>
    <p class="subtitle">Login to continue</p>
    {% if error %}
    <p style="color:red; margin-bottom:10px;">{{ error }}</p>
    {% endif %}

  <form method="POST">
  {% csrf_token %}

  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>

  <button type="submit">Login</button>
  </form>

    <p class="register">
      Don’t have an account?
      <a href="{% url 'register' %}">Sign up</a>
    </p>
  </div>

</div>
</body>
</html>